* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oxygen", sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: rgb(225, 121, 139);
    justify-content: space-around;
    /* padding: 20px 0; */
    color: whitesmoke;
    height: 50px;
    align-items: center;
}
nav .logo {
    font-family: "Abril Fatface", cursive;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    background-color: whitesmoke;
    color: rgb(200, 74, 95);
    transform: scale(1.2);
    transition: 0.3s;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: whitesmoke;
    border-radius: 3px;
    transition: 0.5s;
}
/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}
/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* mobile */
@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        background-color: rgb(225, 121, 139);
        justify-content: space-evenly;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
    .menu-toggle {
        display: flex;
    }
}
